@charset "UTF-8";

*{
    margin:0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "맑은 고딕";
}

a {
    color:#333;
}


body {
    width:1920px;
    max-width:100%;
    height:auto;
    background:#fff;
}
header {
    width:100%;
    height:100px;
}
.tnb{
    background-color:#113125;
    height:30px;
}
.tnb nav{
    width: 1200px;
    height: 30px;
}
.tnb ul{
    float:right;
}
.tnb li{
    float:left;
    margin-left: 20px;
    
}
.tnb a{
    line-height:30px;
    color: #f2f2f2;
    font-size:11px;
}

.gnb{
    background-color:#f2f2f2;
    height:70px;
    overflow:hidden;
}

/*로고*/
.top_logo img{
    float:left;
    width:200px;
    margin-top:3px;
}

.gnb nav{
    width: 1200px;
    height: 70px;
}
.gnb ul{
    width:800px;
    height:70px;
    float:left;
        padding-left:3px;
}
.gnb li{
    float:left;
    text-align:center;
    width:159px; /*가운데정렬 width값*/
}
.gnb a{
    line-height:70px;
    color: rgba(17, 49, 37, 0.8);
    font-size:1.2em;
    text-align:center;
    padding:17px 0;
    font-weight: bold;
}
.gnb .hover > a:hover{
    border-bottom:5px solid #113125;
    color:#113125;
}

/* 전체메뉴보기 - 카테고리 영역 */
.submenu_wrap{
    position:absolute;
    z-index:1;
    background: #f2f2f2;
    padding:10px;
    overflow:hidden;
    width:800px;
    height:300px;
    display: none;
}
.submenu_wrap_wh{
    background:white;
    height:280px;
}
.menu_left{
    width:100px;
    height:280px;
    border:0;
    float:left;
}
.menu_left a{
    width:100px;
    height:70px;
    line-height:37px;
    float:left;
    font-size:14px;
    background:#113125;
    color:white;
    text-align: center;
}
/* .menu_left a:hover{
    color:#eee;
} */
.menu_right{
    width:680px;
    height:280px;
    float:left;
}

.menu_right a{
    font-size:12px;
    line-height:12px;
    padding:5px;
}
.menu_right a:hover{
    /* text-decoration: underline; */
    color:/*#4b806a;*/#95afa5;
}

/* ---------------------------------------- */
.m_r_1 {
    width:100%;
    height:70px;
    text-align:Justify;
    word-break: keep-all;
}
.m_r_1 a {
    padding:0 23px;
    line-height:70px;
}
.m_r_2 {
    width:100%;
    height:70px;
    padding:2px 5px 0;
    border-top:1px solid #f2f2f2;
    border-bottom:1px solid #f2f2f2;
    text-align:Justify;
    word-break: keep-all;
}
.m_r_2 a {
    padding: 0 5px;
}
.m_r_3 {
    width:100%;
    height:70px;
    padding:2px 5px 0;
    text-align:Justify;
    word-break: keep-all;
}
.m_r_3 a {
    padding: 0 5px;
}
.m_r_4 {
    width:100%;
    height:70px;
    padding:12px 5px 0;
    border-top:1px solid #f2f2f2;
    border-bottom:1px solid #f2f2f2;
    text-align:Justify;
    word-break: keep-all;
}
.m_r_4 a {
    padding: 0 5px;
}


/* ---------------------------------------- */
/*검색창 영역*/
.search{
    float:right;
    width:200px;
}
.search fieldset{
    position:relative;
    border:none;
    line-height:70px;
}
.searchBox{
    width:200px;
    height:30px;
    padding:0 10px;
    border-radius:100px;
    border:none;
    outline:none;
}
.searchButton{
    position:absolute;
    background:none;
    border:none;
    color:#113125;
    top:25px;
    right:10px;
}
.searchButton:hover{
    cursor:pointer;
}








.imgslide {
    position: relative;
    width: 1200px;
    height: 400px;
    /* overflow:hidden; */
}
.slide {
    position: absolute;
    width: 3600px;
    height: 400px;
}
.slide li {
    float: left;
}
.slide img{
    width:1200px;
}


/* ---------------------------------------- */

.wrap{
    width:1200px;
    overflow:hidden;
}
section{
    width:1200px;
    margin:70px 0px; 
}

h1,h2{
    padding-bottom:15px;
}
h1 a:before{
    border-left:5px solid #113125;
    content: "";
    padding-left:10px;
}
h2 a {
    border-bottom:5px solid #113125;
}

.item1{
    float:left;
}
.item1_wrap li{
    float:left;
    width: 230px;
    height: 230px;
    margin: 5px;
}
.item1_wrap img{
    /* width:230px; */
    padding:25px 35px;
}

.item2{
    float:left;
}
.item2_wrap li{
    float:left;
    width: 230px;
    height: 230px;
    margin: 5px;
}
.item2_wrap img{
    /* width:230px; */
    padding:25px 35px;
}

.item3{
    float:left;
}
.item3_wrap li{
    float:left;
    width: 230px;
    height: 230px;
    margin: 5px;
}
.item3_wrap img{
    /* width:230px; */
    padding:25px 35px;
}




/* ---------------------------------------- */


.adimg{
    position: relative;
    width: 1200px;
    height: 400px;
    overflow:hidden;
}
.adimg_slide {
    position: absolute;
    width: 3600px;
    height: 400px;
}
.adimg_slide li {
    float: left;
}
.adimg_slide img{
    width:1200px;
}



/* ---------------------------------------- */





.item4{
    float:left;
    width:600px;
}
.item4_wrap{
    float:left;
    width:600px;
}
.item4_wrap li{
    background: rgba(145, 187, 169,0.5);
    float:left;
    width: 290px;
    height: 190px;
    margin-right: 10px;
    margin-bottom:10px;
    text-align:center;
    box-sizing: border-box;
}

/*이벤트섹션*/
.item5{
    float:left;
    width:600px;
}
.item_wrap{    
    float:left;
    width:600px;
}
.item5_wrap li{
    float:left;
    width: 600px;
    height: 190px;
    background: rgba(145, 187, 169,0.5);
    margin-bottom: 10px;
}
.item5 img{
    width:100%;
    height:100%;
}





/* -------------------시드물 소식/ 사용후기--------------------- */
.item6 h2 {
    text-align: center;
    width:170px;
    height:60px;
    line-height:60px;
    border-bottom:5px solid #113125;
}
.item6 h2 a{
    border:none;
    
}
.item6{
    float:left;
    margin:100px auto 0;
    /* background:rgba(0,0,0,.25); */
    width:1200px;
    height:412px;
}
.item6_wrap{
    margin:50px 5px;
}
.item6_wrap li{
    float:left;
    width: 280px;
    height: 280px;
    background: rgb(145, 187, 169);
    margin:8px;
}

/* ---------------------------------------- */

.notice_wrap {
    float:left;
    margin-top:200px;
    clear:both;
    /* background-color:skyblue;
    height:70px; */
}
.notice_wrap h2 a{
    border:0;
    font-weight: normal;
    font-size:16px;
    font-weight:bold;
}
.notice_title{
    width: 580px;
    float:left;
    margin:0 10px;
    font-size:12px;
}
.notice_wrap .date {float:right; color:#999;}

/* ---------------------------------------- */
/* .bottom_banner{
    clear:both;
    height:200px;
    margin-top:100px;
}
.bottom_banner img{
    margin:0 120px;
} */
/* ---------------------------------------- */




footer{
    width:100%;
    height:200px;
    /* background-color:#113125; */
    position:relative;
        margin-top:50px;
}
.ft_wrap{
    width:1200px;
    height:200px;
    position:relative;
}
.ft1{       /*푸터 로고 영역*/
    width:200px;
    height:200px;
    float:left;
}
.ft1 img{ 
    width:200px;
    margin-top:65px;
    height:auto;
    position:absolute;
}

.ft2{
    width:800px;
    height:200px;
    float:left;
    text-align: center;
}
.ft2_top{
    height:50px;
    overflow:hidden;
}
.ft2_top li{
    margin:0 50px;

}
.ft2_top li a{
    float:left;
    padding:5px;
    color:/*white;*/ #999;
    font-size: 14px;
    /* width:200px; */
    padding-right: 20px;
    line-height:40px;
}
.ft2_middle{
    height:100px;
    text-align:left;
}
.ft2_middle p{
    padding:25px 50px;
    color:/*white;*/ #999;
    font-size:12px;
}
/* .ft2_middle > h3{
    color:white;
    font-weight: normal;
} */
.ft2_bottom {
    height:50px;
    
}
.ft2_bottom p{
    color:/*white;*/ #999;
    line-height:50px;
    font-size:0.3em;
}
.ft2_bottom a{
    color:/*white;*/ #999;
    font-weight:bold;
}


.ft3{
    width:150px;
    height:200px;
    float:left;
}
.ft3 img{
    width:150px;
    height:150px;
    margin-top:30px;
    filter: opacity(0.3) drop-shadow(0 0 0 white);
}







.topbtn{
    color:white;
    font-size:16px;
    line-height:50px;
    text-align:center;
    background:black;
    width:50px;
    height:50px;
    top:0;
    right: 150px;
    float:right;
}




/*슬라이드탭*/
.slide_tab{
    width:340px;
    height:100%;
    position:fixed;
    z-index:1;
    top:0;
    right:-320px;   
}
.tab_wrap{
    position:relative;
    z-index:1;
    width:300px;
    height:100%;
    background:#eee;
    border-left:1px solid #999;
    background:white;
    
}
.slide_btn {
    position:absolute;
    z-index: 1;
    background:white;
    top:calc(50% - 140px);
    right:320px;
    border-top:1px solid #999;
    border-left:1px solid #999;
    border-bottom:1px solid #999;
}
.slide_btn .s_btn {
    width:40px;
    height:40px;
    line-height:40px;
    font-size:12px;
    text-align: center;
    border-bottom:1px solid #999;
}
.slide_btn .s_btn:last-child{
    border:none;
}
.s_btn a{
    display:block;
}
.s_btn img{
    width:30px;
    padding-top:5px;
}



.tab_hd img{
    position:relative;
    width:93%;
    top:0;
    left:0;
}

.tab_body{
    height:calc(100% - 200px);
    background:#fff;
    overflow:hidden;
    width:280px;
}
.tab_ft{
    position:absolute;
    bottom:0px;
    width:280px;
    height:200px;
}
