@charset "utf-8";

#c_header {
    height: 100px;
}

.wrap {
    width: 1000px;
}

/* =============== */
/* 상단 탭 영역 */
.c_lnb {
    width: 100%;
    height: 50px;
    font-size: 18px;
    margin-top: 25px;
}
.c_lnb li {
    float: left;
    width: 33.333%;
    text-align: center;
    padding: 15px;
    background-color: #f2f2f2;
    border: 1px solid #c4c4c4;
}
.c_lnb .active {
    background-color: #353B3B;
}
.c_lnb .active a {
    color: #f2f2f2;
}
.c_lnb2 {
    width: 50%;
    margin-top: 25px;
}
.c_lnb2 li {
    float: left;
    width: 50%;
    height: 30px;
    text-align: center;
}
.c_lnb2 .active2 {
    border-bottom: 3px solid #4B816A;
}


/* ============== */
/* 컨텐츠 영역 */
.contents {
    width: 100%;
    height: auto;
    text-align: center;
}
.headline {
    clear: left;
    text-align: center;
    padding-top: 30px;
    font-size: 24px;
}
.headline span {
    color: #4B816A;
}

.images {
    margin-top: 20px;
    text-align: center;
}
.images img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 70%;
    overflow: hidden;
}
.images li {
    width: 500px;
    float: left;
}

.text{
    text-align: center;
}
.text h4 {
    clear: left;
    padding-top: 50px;
    font-size: 20px;
}
.text p {
    margin-top: 20px;
}
.text h3 {
    margin-top: 50px;
    font-size: 24px;
}